body {
  background-image: "https://lh3.googleusercontent.com/-3pLMSraftsk/WAo-qaYhVRI/AAAAAAAAAEA/fbOKD2TPHdQlRVd7X8UGjQGw56KYovtSACL0B/w1060-d-h862-p-rw/nueva.png"
}

#border {
  border: 1px solid lightblue;
  border-color: blue;
  height: 250px;
  width: 250px;
}